@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("/assets/fonts/ITCAvantGardeGothicStd-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std ExtraLight";
  src: url("/assets/fonts/ITCAvantGardeGothicStd-ExtraLight.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Bold";
  src: url("/assets/fonts/ITCAvantGardeGothicStd-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
