/* @import url("https://fonts.googleapis.com/css2?family=ITC+Avant+Garde+Gothic+Std:wght@600&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
}

.avant-garde-extralight {
  font-family: "ITC Avant Garde Gothic Std ExtraLight", sans-serif;
}

.font-avant-garde {
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
}

.avant-garde-bold {
  font-family: "ITC Avant Garde Gothic Std Bold", sans-serif;
}

.font-avant-garde-thin {
  font-family: "ITC Avant Garde Gothic Std ExtraLight", sans-serif;
  font-weight: 100;
}

.mega-text {
  font-size: 12.5rem;
}

.giga-text {
  font-size: 10rem;
}

.work-text {
  font-size: 2.4rem;
}

.position {
  color: #a2a2a2;
}

.text-carousel {
  overflow: hidden;
  height: 2em;
  width: 100%;
  position: relative;
}

.text-container {
  color: #a2a2a2;
  display: flex;
  animation: scrollText 20s linear infinite;
}

.text-item {
  margin-right: 20px;
  font-size: 15px;
  line-height: 18px;
  white-space: nowrap !important;
}

.border-black {
  -webkit-text-stroke: 1px #000000;
}

#topnav a.active {
  border-bottom: 1px solid black;
}

.desired {
  list-style-type: none; /* Remove default list style */
  padding-left: 0; /* Remove default padding */
}

.desired li {
  counter-increment: item; /* Increment counter */
  margin-left: 2em; /* Add left margin for indentation */
  position: relative; /* Position relative for pseudo-element */
}

.desired li::before {
  content: counter(item, lower-alpha) ") "; /* Custom content: alphabetic counter with parenthesis */
  position: absolute; /* Absolute position */
  left: -2em; /* Position it to the left */
}

ul.circle-list {
  list-style-type: circle;
}

ul.circle-list li::marker {
  font-size: 25px;
  margin-top: 2px;
}

.product {
  top: 54%;
  left: 64%;
  z-index: 1;
}

.stars {
  top: -4%;
  left: -7%;
}

.footer-stars {
  top: 1%;
  left: -2%;
}

.hi {
  bottom: 4%;
  left: 68%;
}

.contact-hi {
  bottom: 7%;
  left: 37%;
}

.heart-kiss {
  top: -5%;
  right: -4%;
}

.ux {
  bottom: 85%;
  left: 99%;
}

.heart {
  top: 41%;
  left: 39%;
}

.link-txt:hover {
  -webkit-text-stroke: 0px;
}

.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 999;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}

.appear-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.appear-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

.tab-content-appear {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.tab-content-appear.visible {
  opacity: 1;
  transform: translateY(0);
}

.bg-slide {
  background: linear-gradient(to right, #dbeafe 50%, transparent 50%);
  background-size: 200% 100%;
  animation: bgSlide 2s forwards;
}

@keyframes bgSlide {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 -100%;
  }
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 450px) {
  .work-item {
    flex-direction: column;
    width: 390px;
  }

  .work-img {
    height: 360px;
  }

  .work-info {
    margin: 0;
  }
}

@media (max-width: 400px) {
}

@media not all and (min-width: 640px) {
  .work-item {
    flex-direction: column;
    width: 350px;
  }

  .work-img {
    height: 300px;
  }

  .work-info {
    margin: 0;
  }

  .review > .item:nth-child(-n + 2) {
    display: inline-flex;
    flex: 1;
  }

  .giga-text {
    font-size: 6.5rem;
  }

  .mega-text {
    font-size: 6rem;
  }

  .hi {
    bottom: -8%;
    left: 90%;
    height: 40px;
  }

  .contact-hi {
    bottom: 7%;
    left: 77%;
    height: 40px;
  }

  .heart {
    top: 41%;
    left: 39%;
    height: 40px;
  }

  .footer-stars {
    height: 40px;
    top: 1%;
    left: -3%;
  }

  .stars {
    height: 40px;
    top: -5%;
    left: 0%;
  }

  .ux {
    bottom: 85%;
    left: 89%;
    height: 40px;
  }

  .product {
    top: 56%;
    left: 66%;
    z-index: 1;
    height: 30px;
  }

  .heart {
    top: 53%;
    left: 41%;
    height: 40px;
  }
}

@media (min-width: 768px) {
  @media not all and (min-width: 1280px) {
    .hi {
      bottom: 4%;
      left: 61%;
    }

    .heart {
      top: 41%;
      left: 39%;
    }

    .footer-stars {
      top: 1%;
      left: -3%;
    }

    .stars {
      top: -8%;
      left: 5%;
    }

    .ux {
      bottom: 85%;
      left: 89%;
    }

    .product {
      top: 41%;
      left: 60%;
      z-index: 1;
    }

    .heart {
      top: 53%;
      left: 41%;
    }
  }
}
