/* @import url("https://fonts.googleapis.com/css2?family=ITC+Avant+Garde+Gothic+Std:wght@600&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
}

.avant-garde-extralight {
  font-family: "ITC Avant Garde Gothic Std ExtraLight", sans-serif;
}
.avant-garde-bold {
  font-family: "ITC Avant Garde Gothic Std Bold", sans-serif;
}

.font-avant-garde-thin {
  font-family: "ITC Avant Garde Gothic Std ExtraLight", sans-serif;
  font-weight: 100;
}

.mega-text {
  font-size: 12.5rem;
}

.giga-text {
  font-size: 10rem;
}

.work-text {
  font-size: 2.4rem;
}

.text-carousel {
  overflow: hidden;
  height: 2em;
  width: 100%;
  position: relative;
}

.text-container {
  display: flex;
  animation: scrollText 20s linear infinite;
}

.text-item {
  margin-right: 20px;
  white-space: nowrap !important;
}

.border-black {
  -webkit-text-stroke: 1px #000000;
}

#topnav a.active {
  border-bottom: 1px solid black;
}

.desired {
  list-style-type: none; /* Remove default list style */
  padding-left: 0; /* Remove default padding */
}

.desired li {
  counter-increment: item; /* Increment counter */
  margin-left: 2em; /* Add left margin for indentation */
  position: relative; /* Position relative for pseudo-element */
}

.desired li::before {
  content: counter(item, lower-alpha) ") "; /* Custom content: alphabetic counter with parenthesis */
  position: absolute; /* Absolute position */
  left: -2em; /* Position it to the left */
}

.product {
  top: 54%;
  left: 64%;
  z-index: 1;
}

.stars {
  top: -4%;
  left: -7%;
}

.footer-stars {
  top: 1%;
  left: -2%;
}

.hi {
  bottom: 4%;
  left: 68%;
}

.contact-hi {
  bottom: 7%;
  left: 37%;
}

.heart-kiss {
  top: -5%;
  right: -4%;
}

.ux {
  bottom: 75%;
  left: 98%;
}

.heart {
  top: 41%;
  left: 39%;
}

.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 999;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
